<nav id="navbar" class="navbar fixed-top navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="/">Site</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/resources">Resources<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Getting started
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/pages/how_to_play">How to play</a></li>
                    <li><a class="dropdown-item" href="/pages/rules">Rules</a></li>
                    <li><a class="dropdown-item" href="/pages/current_rulings">Current Rulings</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/store">Store<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/about">About<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="d-flex ml-auto" role="search" id="asset-search">
            <input class="form-control me-2" type="search" placeholder="Find something..."
                aria-label="Search" style="margin-right: 10px;" id="search-input">
            <button class="btn btn-primary fab-btn" type="submit">Find</button>
        </form>
    </div>

    <script>
        document.querySelector("#asset-search").addEventListener("submit", e => {
            e.preventDefault()

            let query = document.querySelector("#search-input").value
            if (query.length == 0) return
            window.location = `/search/${query}`
        })
    </script>
</nav>