<%- include('partials/head')%>

<%- include('partials/navbar')%>

<div class="page-background" style="text-align: center;">
    <div class="container page">
    <h3><%- error %></h3>
    </div>
</div>

<%- include('partials/footer')%>