<%- include('partials/head')%>

<%- include('partials/navbar')%>

<div class="page-background">
    <div class="container page" id="page">
        <%- page.content %>
    </div>
</div>

<%- include('partials/footer')%>