@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700;800&family=Manrope&display=swap');
/* General styles */
body {
    font-family: 'Manrope', sans-serif;
    width: 100vw;
    overflow: auto;
}

#scheduleContainer {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
}

body,
.container:not(body > nav > div, #home-page-background .container, .page-background .container) {
    background: #222529;
    color: white;
}

.container * {
    color: lightgray;
}

body {
    overflow-x: auto;
    margin: 0;
}

.modal {
    position: fixed;
}

.modal-dialog {
    margin: 1rem auto; /* Center modal */
}

.modal-backdrop {
    position: fixed;
}

.modal-content {
    max-height: 90vh; /* Adjust as needed */
    overflow-y: auto;
    z-index: 20000;
}

/* @media screen and (max-width: 768px) {
    .modal-dialog {
        position: fixed;
        
    }
} */

.schedule {
    display: flex;
    justify-content: space-between;
}

.day-column {
    flex: 1;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 5px;
    color: #c5ccd8;
    min-width: 250px;
}

.day-column h4 {
    text-align: center;
    margin-bottom: 15px;
    color: #c5ccd8;
}

.task-card {
    background-color: #393c41;
    padding: 10px;
    margin: 5px 0;
    border-radius: 3px;
    border-left: 5px solid green;
}

.task-card:hover {
    cursor: pointer;
}

.add-task {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.add-task input[type="text"] {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: #393c41;
    color: #c5ccd8;
}

.modal-dialog > * {
    background-color: #393c41;
}

.color-picker {
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    display: block;
}

.color-code {
    position: absolute;
    top: 0;
    left: 0;
    background: #292b2f;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

.color-code:hover {
    cursor: pointer;
}

/* Additional styles for the form */
#item-form, #update-item-form {
    background-color: #393c41;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

#item-form label, #update-item-form label {
    display: block;
    margin-bottom: 5px;
}

#item-form input[type="text"],
#item-form textarea,
#item-form select,
#update-item-form input[type="text"],
#update-item-form textarea,
#update-item-form select {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #292b2f;
    color: white;
    margin-bottom: 10px;
    border-radius: 3px;
}

#item-form input[type="date"],
#item-form input[type="checkbox"],
#update-item-form input[type="date"],
#update-item-form input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

#item-form button[type="submit"],
#update-item-form button[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button {
    background-color: rgb(97, 42, 42);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.delete-button:hover {
    background-color: darkred;
}